@import "tailwindcss";

body {
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 15px;
}
